@model IEnumerable<ReactDemo.Models.CommentModel>
@{
   Layout = null;
}
<html>
<head>
  <title>Hello React</title>
</head>
<body>
  <div id="content"></div>
  <script src="@Url.Content("~/js/remarkable.min.js")"></script>
  <script src="@Url.Content("~/js/react.js")"></script>
  <script src="@Url.Content("~/js/react-dom.js")"></script>

  <script src="@Url.Content("~/js/tutorial.jsx")"></script>

</body>
</html>